# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Luigix17_Programmer\OneDrive\Documentos\GitHub\IngesoftI-G4\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
#Idea Files
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
#Aditional files
Laboratorio1-Github.iml
WrongFile.txt